*{
    margin:0px;
    font-family:arial;
}
header{
    background-color:black;
    color:white;
    height:60px;
}
.navbar{
    height:60px;
    background-color:black;
    color:white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}

.nav-logo border{
    height:50px;
    width:100px;
    border:1.5px solid transparent;
}

.logo{
    background-image:url("amazon_logo.png");
    height:50px;
    width:100px;
    background-size:cover;
}
.logo:hover{
    border:1.5px solid white;
}

/**box2**/

.add-first{
    color:#cccccc;
    font-size:0.85rem;
    margin-left:15px;    
}
.add-second{
    font-size:1rem;
    margin-left:3px;
}
.add-icon{
    display:flex;
    align-items:center;
}

/**box3**/

.nav-search{
    height:40px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.nav-search:hover{
    border:1.5px solid orange;
}
.search-select{
    height:40px;
    width:40px;
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
    border:none;
    background-color:#cccccc;
}
.search-input{
    height:100%;
    width:600px;
    border:none;
    font-size:1rem;
}
.search-icon{
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
    width:40px;
    height:100%;
    border:none;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:orange;
    font-size:1.2rem;
}

/** box4**/

.nav-signin{
    font-size:0.7rem;
}
.border:hover{
    border:1.5px solid white;
}
.nav-account{
    font-size:0.9rem;
    font-weight:700;
}

/**box 5 **/  
.nav-return{
    font-size:0.7rem;
}
.nav-order{
    font-size:0.9rem;
    font-weight:700;
}
/**box6**/
.nav-cart{
   font-size:0.85rem;
   font-weight:700;
}
.nav-cart i{
   font-size:30px;
   font-weight:700;
}

/**panel**/
.panel{
    height:40px;
    background-color:#222f3d;
    color:white;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
}
.panel-ops p{
    display:inline;
    margin:10px;
}
.panel-ops{
    width:70%;
    font-size:0.85rem;
}
.panel-deals{
    font-weight:700;
    font-size:0.9rem;
}
/**hero**/ 
.hero{
    background-image:url("hero_image.jpg");
    height:350px;
    margin-top:40px;
    background-size:cover;
    display:flex;
    justify-content:center;
    align-items:flex-end;
}
.hero-msg{
    font-size:0.85rem;
    height:40px;
    width:80%;
    background-color:white;
    color:black;
    margin-bottom:25px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.hero-msg a{
    color:#007185;
}

/**box1**/

.shop{
    background-color:#e2e7e6;
    width:100%;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-evenly;
}
.box{
    height:400px;
    width:23%;
    background-color:white;
    color:black;
    margin:15px;
    padding:20px 0px 15px;
}
.box-content{
    margin-left:15px;
    margin-right:15px;
}

.box-img{
    height:300px;
    background-color:white;
    background-size:cover;
    margin:16px;
    color:white;
}

.box2-img{
    height:300px;
    background-color:white;
    background-size:cover;
    margin:16px;
    color:white;
}

.box3-img{
    height:300px;
    background-color:white;
    background-size:cover;
    margin:16px;
    color:white;
}

.box4-img{
    height:300px;
    background-color:white;
    background-size:cover;
    margin:16px;
    color:white;
}

.box5-img{
    height:300px;
    background-color:white;
    background-size:cover;
    margin:16px;
    color:white;
}

.box6-img{
    height:300px;
    background-color:white;
    background-size:cover;
    margin:16px;
    color:white;
}

.box7-img{
    height:300px;
    background-color:white;
    background-size:cover;
    margin:16px;
    color:white;
}

.box8-img{
    height:300px;
    background-color:white;
    background-size:cover;
    margin:16px;
    color:white;
}

/**footer**/
footer{
    background-color:#222f3d;
    color:white;
    
}
.panel1{
    background-color:grey;
    height:40px;
    margin-top:15px;
    display:flex;
    justify-content:center;
    align-items:Center;
    font-weight:700;
}
.panel2{
    background-color:#222f3d;
    color:white;
    height:500px;
    display:flex;
    justify-content:space-evenly;
}
ul p{
    font-weight:700;
    font-size:1rem;
    margin-top:20px;
    margin-bottom:10px;
}
ul a{
    display:block;
    margin-top:5px;
    color:#dddddd;
}
.panel3{
    background-color:#222f3d;
    color:white;
    border-top:0.5px solid white;
    height:70px;
    display:flex;
    justify-content:center;
    align-items:center;
}
.foot-logo{
    background-image:url("amazon_logo.png");
    background-size:cover;
    height:50px;
    width:100px;
}
.panel4{
    background-color:#0f1111;
    color:white;
    font-size:0.7rem;
    height:80px;
    text-align:Center;

}
.pages{
padding-top:25px;
}
.copyright{
    padding-top:5px;
}
.pages a{
    margin:15px;
}
